body {
	padding-top: 65px;
	font-family: sans-serif;
	background-image: url(http://image.noelshack.com/fichiers/2018/45/1/1541413360-cropped-1600-900-30442.png) ;
	background-repeat: no-repeat;
    background-attachment: fixed;
}
